<!DOCTYPE html>
<html lang="en">
{{>common/head subtitle="Fixtures / Results"}}
<body>
  <div class="section header">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1 class="section-heading">Football Fours</h1>
          <div class="nav"><span style="font-weight: bold;">Fixtures / Results</span> - <a href="tables.html">Tables</a> - <a href="rulessummary.html">Summary of the Rules</a> - <span>Social Football Code</span> - <span>Competition Regulations</span></div>
        </div>
      </div>
    </div>
  </div>
  {{#each this}}
    <div class="section round{{roundNumber}}">
      <div class="container">  
        <h2 class="section-heading">Round {{roundNumber}}</h2>
        {{#each matches}}
          <div class="row matchDateAndTime{{#if rescheduled}} rescheduled{{/if}}">
            <span class="matchDate">{{playedDatePretty}}</span>
            <span class="matchTime">{{playedTimePretty}}</span>
          </div>
          <div class="row">
            {{#with homeTeam}}
              <div class="homeTeam five columns">
                <div>{{name}}</div>
                {{#if completed}}
                {{#each goalscorers}}
                    <div class="scorer">{{name}}{{#if multipleGoals}} × {{numberOfGoals}}{{/if}}</div>
                {{/each}}
                {{/if}}
              </div>
            {{/with}}
            <div class="matchScore two columns">{{#if completed}}{{homeTeam.goals}} - {{awayTeam.goals}}{{else}}V{{/if}}</div>
            {{#with awayTeam}}
              <div class="awayTeam five columns">
                <div>{{name}}</div>
                {{#if completed}}
                {{#each goalscorers}}
                    <div class="scorer">{{name}}{{#if multipleGoals}} × {{numberOfGoals}}{{/if}}</div>
                {{/each}}
                {{/if}}
              </div>
            {{/with}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</body>
</html>
