<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="UTF-8">
  <title>Football Fours - Fixtures / Results</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link rel="icon" type="image/png" href="images/favicon.png"> -->
   <link rel="stylesheet" href="css/custom.css">  

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section header">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1 class="section-heading">Football Fours</h1>
          <div class="nav"><span style="font-weight: bold;">Fixtures / Results</span> - <a href="tables.html">Tables</a> - <a href="rulessummary.html">Summary of the Rules</a> - <span>Social Football Code</span> - <span>Competition Regulations</span></div>
        </div>
      </div>
    </div>
  </div>
  {{#each this}}
    <div class="section round{{roundNumber}}">
      <div class="container">  
        <h2 class="section-heading">Round {{roundNumber}}</h2>
        {{#each matches}}
          <div class="row matchDateAndTime{{#if rescheduled}} rescheduled{{/if}}">
            <span class="matchDate">{{playedDatePretty}}</span>
            <span class="matchTime">{{playedTimePretty}}</span>
          </div>
          <div class="row">
            {{#with homeTeam}}
              <div class="homeTeam five columns">
                <div>{{name}}</div>
                {{#if completed}}
                {{#each goalscorers}}
                    <div class="scorer">{{name}}{{#if multipleGoals}} × {{numberOfGoals}}{{/if}}</div>
                {{/each}}
                {{/if}}
              </div>
            {{/with}}
            <div class="matchScore two columns">{{#if completed}}{{homeTeam.goals}} - {{awayTeam.goals}}{{else}}V{{/if}}</div>
            {{#with awayTeam}}
              <div class="awayTeam five columns">
                <div>{{name}}</div>
                {{#if completed}}
                {{#each goalscorers}}
                    <div class="scorer">{{name}}{{#if multipleGoals}} × {{numberOfGoals}}{{/if}}</div>
                {{/each}}
                {{/if}}
              </div>
            {{/with}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
