<!DOCTYPE html>
<html lang="en">
{{>common/head subtitle="Tables"}}
<body>
  <div class="section header">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1 class="section-heading">Football Fours</h1>
          <div class="nav"><a href="fixtures.html">Fixtures / Results</a> - <span style="font-weight: bold;">Tables</span> - <a href="rulessummary.html">Summary of the Rules</a> - <span>Social Football Code</span> - <span>Competition Regulations</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section leaguetable">
    <h2 class="section-heading">League Table</h2>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <table class="u-full-width">
            <thead>
              <tr>
                <th>#</th>
                <th>Team</th>
                <th>P</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>F</th>
                <th>A</th>
                <th>+/-</th>
                <th>Pts</th>
              <tr>
            </thead>
            <tbody>
              {{#each leagueTable}}
                <tr>
                  <td>{{position}}</td>
                  <td>{{teamName}}</td>
                  <td>{{matchesPlayed}}</td>
                  <td>{{numberOfWins}}</td>
                  <td>{{numberOfDraws}}</td>
                  <td>{{numberOfLosses}}</td>
                  <td>{{goalsFor}}</td>
                  <td>{{goalsAgainst}}</td>
                  <td>{{goalDifference}}</td>
                  <td>{{points}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="section goldenball">
    <h2 class="section-heading">Golden Ball</h2>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <table class="u-full-width">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Team</th>
                <th>Votes</th>
              </tr>
            </thead>
            <tbody>
              {{#each goldenBallTable}}
                <tr>
                  <td>{{position}}</td>
                  <td>{{playerName}}</td>
                  <td>{{teamName}}</td>
                  <td>{{votes}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="section goldenboot">
    <h2 class="section-heading">Golden Boot</h2>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <table class="u-full-width">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Team</th>
                <th>Goals</th>
              </tr>
            </thead>
            <tbody>
              {{#each goldenBootTable}}
                <tr>
                  <td>{{position}}</td>
                  <td>{{playerName}}</td>
                  <td>{{teamName}}</td>
                  <td>{{goals}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
